.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock
tests/mocks/database/ci_test.sqlite

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/


##tambahan riyan
zoutside/
##perlu ditambahkan
application/config/config.php
application/config/database.php
# /.htaccess
/files/bundle_a/*
/files/bundle_b/*
/files/files_laporan/*
/files/qrcodeimg/*
/files/SuratPengantar/*

##/files/bundle_a
##/files/bundle_b
##/files/files_laporan
##/files/qrcodeimg
##/files/SuratPengantar
##/files/templates